img{
    max-width:50%;
    width:800px;
    height: auto;
    border:2px solid br;
}
.menu{
    box-shadow: 10px 10px 10px gray ;
    padding:10px;
    width:800px;
    margin:auto ;
}
header{
    display: flex;
    justify-content: space-between;
}